html, body { margin: 20px 0px 0px 5px; padding: 0; min-width: 300px; font-size: 16px; background-color: #072034; }

/* Set padding to keep content from hitting the edges */
.body-content { padding-left: 15px; padding-right: 15px; background-color: #FFF; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header { display: flex; align-items: center;  background-color: #FFF; margin: 0 2vw; }
#content { padding: 5px 2vw 50px 2vw; margin: 0 2vw; min-height: 400px; background-color: #FFF; }
footer { background-color: #414142; color: #FFF; padding: 10px; min-height: 100px; padding: 10px 5vw; }
	footer a, a:hover, footer a:focus { color: #FFF; text-decoration: underline; }
