<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<!-- PROCESSING ==================================== -->
	  <!-- conceptSchemesValidation: 
				rigid-concepts must match ctdl
				warn - allow exceptions, return a warning message
				skip - no validation of concept scheme concepts
	  -->  
	<add key="conceptSchemesValidation" value="warn" />
	<add key="requiringApiKey" value="false" />
	  <!-- see unit test project -->
	<add key="siteApiKey" value="" />
	<add key="orgReferencesRequireOrgType" value="false" />

	<add key="includingAssertedINs" value="false" />
	  
	  <!-- this is only a conveniece for testing, and is normally false -->
	<add key="skippingLinkChecking" value="false" />
	<add key="treatingRemoteFileNotExistingAsError" value="true" />
	<!-- urls to exclude from validity checks -->
	<add key="urlExceptions" value="lr-staging.learningtapestry.com; " />
	  
	<add key="generateCtidIfNotFound" value="true" />
	<!-- keys from common methods, but really applicable here, but used by unit testing -->
	<add key="credentialCacheMinutes" value="0" />
	<add key="learningOppCacheMinutes" value="0" />
	  
	  <!-- Credential registry ====================================
    skip_validation
    -->
    <add key="skippingValidation" value="no" />
    <add key="credentialRegistryUrl" value="http://lr-staging.learningtapestry.com" />
    <add key="credentialRegistryPublishUrl" value="http://lr-staging.learningtapestry.com/ce-registry/envelopes?update_if_exists=true" />
    <add key="credentialRegistryGet" value="http://lr-staging.learningtapestry.com/ce-registry/envelopes/{0}" />
    <add key="credentialRegistrySearch" value="http://lr-staging.learningtapestry.com/ce-registry/search" />

	  <add key="credRegistryResourceIdTemplate" value="http://lr-staging.learningtapestry.com/resources/{0}" />
    <add key="privateKeyLocation" value="App_Data\keys\ctiDevPlainRegistry.key" />
    <add key="pemKeyLocation" value="App_Data\keys\ctiDevPlainRegistry.key.pem" />
	<add key="envelopeCommunity" value="ce_registry" />
    <!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
    <add key="logErrors" value="yes" />
    <add key="logAllEmail" value="yes" />
    <add key="notifyOnException" value="yes" />
    <!-- EmailService: smtp, serviceApi, sendGrid -->
    <add key="emailService" value="serviceApi" />
    <!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
    <add key="SendEmailService" value="" />
    <add key="SmtpHost" value="localhost" />
    <!-- sendEmailFlag - use TRUE uppercase to set on -->
    <add key="sendEmailFlag" value="TRUE" />
    <add key="usingTempOverrideEmail" value="yes" />
    <!-- contact US email addresses -->
    <add key="contactUsMailTo" value="test@TEST.com" />
    <add key="contactUsMailFrom" value="DoNotReply@TEST.com" />
    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="test@TEST.com" />
    <add key="systemNotifyFromEmail" value="devEnv@TEST.com" />
    <!--<add key="isDebug" value="TRUE" />-->
    <add key="appTraceLevel" value="8" />
    <!-- work-->
    <!-- work folder when uploading files, etc  -->
    <add key="path.ReportsOutputPath" value="C:\@logs\" />
    <add key="path.error.log" value="C:\@logs\[date]_RA_ErrorLog.txt" />
    <add key="path.email.log" value="C:\@logs\[date]_RA_EmailLog.txt" />
    <add key="path.trace.log" value="C:\@logs\[date]_RA_TraceLog.txt" />
    <add key="path.log.file" value="C:\@logs\[date]_[filename].txt" />
  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>