<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <clear />

	  <add key="requiringApiKey" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- CR related ======================================= -->
    <add key="skippingValidation" value="no"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="credentialRegistryPublishUrl" value="http://lr-staging.learningtapestry.com/ce-registry/envelopes?update_if_exists=true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="credRegistryResourceIdTemplate" value="http://credentialEngineRegistry.org/resources/{0}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="privateKeyLocation" value="App_Data\keys\ctiProdRegistry.key"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="pemKeyLocation" value="App_Data\keys\ctiProdRegistry.key.pem"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	  <add key="envelopeCommunity" value="ce_registry" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	  
    <add key="emailService" value="serviceApi" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
    <add key="SendEmailService" value="http://apps.il-work-net.com/Services/api/Email/Send/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmtpHost" value="174.123.62.154" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- if yes, will send email to an admin id, overriding an actual email address -->
    <add key="usingTempOverrideEmail" value="no" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- May want a 'to' email specific for the contact US!! -->
    <add key="contactUsMailTo" value="cwd.mparsons@ad.siu.edu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="contactUsMailFrom" value="DoNotReply@siuccwd.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="mparsons@siuccwd.com,nathan.argo@siuccwd.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="systemNotifyFromEmail" value="registryAssistant@illinoisworknet.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="appAdminEmail" value="cwd.mparsons@ad.siu.edu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="logAllEmail" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
    <add key="logErrors" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="notifyOnException" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="isDebug" value="TRUE" />-->
    <add key="appTraceLevel" value="4"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="doingLinkChecking" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <!-- add userId and password for user with update access to the database-->
    <add name="DefaultConnection" connectionString="Server=OERSQL;database=CTI;User Id=ctiAdmin;password=ct!Cr*dM#ster2;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


    <add name="cti_RO" connectionString="Server=OERSQL;database=CTI;User Id=ctiReader;password=ct!R#*der2;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="CTIEntities"
         connectionString="metadata=res://*/CTIEntities.csdl|res://*/CTIEntities.ssdl|res://*/CTIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OERSQL;initial catalog=CTI;persist security info=True;user id=ctiAdmin;password=ct!Cr*dM#ster2;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="CTIEntities1" connectionString="metadata=res://*/Views.CTI_Views.csdl|res://*/Views.CTI_Views.ssdl|res://*/Views.CTI_Views.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OERSQL;initial catalog=CTI;persist security info=True;user id=ctiAdmin;password=ct!Cr*dM#ster2;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite"  xdt:Transform="Replace">
      <error statusCode="404" redirect="~/PageNotFound.html"/>
    </customErrors>
  </system.web>
</configuration>
