<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <clear />
    <!-- if yes, will send email to an admin id, overriding an actual email address -->
    <add key="usingTempOverrideEmail" value="no" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- May want a 'to' email specific for the contact US!! -->
    <add key="contactUsMailTo" value="cwd.mparsons@ad.siu.edu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="contactUsMailFrom" value="DoNotReplyTest@siuccwd.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="mparsons@siuccwd.com,nathan.argo@siuccwd.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="systemNotifyFromEmail" value="registryAssistantTest@illinoisworknet.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="appAdminEmail" value="cwd.mparsons@ad.siu.edu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="logAllEmail" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
    <add key="logErrors" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="notifyOnException" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="isDebug" value="TRUE" />-->
    <add key="appTraceLevel" value="5"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    <add key="doingLinkChecking" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <clear />
    <add name="DefaultConnection" connectionString="Server=192.168.1.145;database=CTI;User Id=ctiAdmin;password=w@rkH#rdPl$yH%rd;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="cti_RO" connectionString="Server=192.168.1.145;database=CTI;User Id=ctiAdmin;password=w@rkH#rdPl$yH%rd;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="CTIEntities" connectionString="metadata=res://*/CTIEntities.csdl|res://*/CTIEntities.ssdl|res://*/CTIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=CTI;persist security info=True;user id=ctiAdmin;password=w@rkH#rdPl$yH%rd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="CTIEntities1" connectionString="metadata=res://*/Views.CTI_Views.csdl|res://*/Views.CTI_Views.ssdl|res://*/Views.CTI_Views.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=CTI;persist security info=True;user id=ctiAdmin;password=w@rkH#rdPl$yH%rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>