<div class="jumbotron">
    <h1>Credential Registry Assistant</h1>
    <p class="lead">The Credential Engine offers the Registry Assistant as a special API designed to make it easier to publish to the Registry by providing a simplified version of CTDL that is easier to map existing data to. This guide is intended to be a step by step walkthrough to get you started with using the Registry Assistant API.</p>
    <p><a href="http://credreg.net/registry/assistant" class="btn btn-primary btn-lg"  target="ceReference">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Version</h2>
        <p>CTDL Schema: December 31, 2018</p>
    </div>
   
</div>
